.content {
  padding-top: 120px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.iframe-section {
  padding-right: 0em;
}

.section-width {
  width: 100% !important;
  margin-top: 70px !important;
}

@media screen and (max-width: 1400px) {
  .iframe-section {
    padding-right: 10em;    
  }
}

@media screen and (max-width: 1200px) {
  .iframe-section {
    padding-right: 20em;
  }
}

@media screen and (max-width: 800px) {
  .iframe-section {
    padding-right: 40em;
  }
}

@media screen and (max-width: 990px) {
  .section-width {
    margin-top: 57px !important;
  }
}